params{
    // input dir
   fastq_dir                        = '/home/tiba02/RAVIG/RAVIG_24052024_optimization_run2' 
   metadata_tsv                     = null
   human_genome                     = null
   mash_db                          = null

    // Output directory
    outdir = "$projectDir/results"
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    local {
        executor.name           = 'local'
        executor.cpus           = 6
        executor.memory         = 14.GB
        executor.queueSize      = 3
        process {
            resourceLimits = [
                memory: 14.GB,
                cpus  : 6,
                time  : 1.h
            ]
        }
    }
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda', 'defaults']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        singularity.cacheDir    =  "$projectDir/.singularityCache"
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
   
}

kemri     { includeConfig 'conf/kemri.config'}

// Set default registry for Apptainer, Docker, Podman and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'

manifest {
    name            = 'samordil/metaphyl'
    author          = '' // The author field is deprecated from Nextflow version 24.10.0, use contributors instead
    homePage        = 'https://github.com/samordil/metaphyl'
    description     = """A bioinformatics pipeline designed for the assembly and phylogenetic analysis of viral samples."""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=24.04.2'
    version         = '1.0.0'
    doi             = ''
}

// Timeline report for memory and cpu usage for each process
timeline {
  enabled                       = true
  overwrite                     = true
  file                          = "$params.outdir/timeline_report.html"
}

dag {
  enabled                       = true
  overwrite                     = true
  file                          = "$params.outdir/dag_flowchart.png"
}

report {
  enabled                       = true
  overwrite                     = true
  file                          = "$params.outdir/overall_report.html"
}